extends ../../layouts/admin_layout

block specific_stylesheets
    link(rel='stylesheet', href='/css/admin.css')

block content
    include ../../static/_admin_header
    #wrapper
        include ../../static/_sidebar
        #page-content-wrapper
            .alert-control(style='display: none;')
                .alert
                    a.close(href="#",data-dismiss="alert",aria-label="close") &times;
                    strong
            .row
                .col-xs-12
                    h3.box-title All transactions
                .col-xs-12
                    table.table.table-bordered.table-condensed.table-hover
                        thead
                            tr
                                th Date
                                th Data
                        tbody
                            each item in data
                                tr
                                    td= moment(item.created_at).format('DD.MM.YYYY hh:mm')
                                    td= item.body
                                tr
                                    td(style="border:none!important", colspan=2)



