.navbar.navbar-custom.navbar-fixed-top(role="navigation")
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
                i.fa.fa-arrow-down
            a.navbar-brand.toggle-menu-btn
                i.fa.fa-bars
            a.navbar-brand.navbar-logo
                | BRANDS AND BUSINESS
        .navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a#logout Log Out
                        span.fa.fa-sign-out(style="margin-left: 10px")

    script.
        function LogOut() {
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/control/admin/logout',
                success: function (data) {
                    document.location.href = data.url;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    document.location.href = '/control/admin/login';
                }
            });
        }
        $('#logout').click(function () {
            LogOut();
        });


