doctype html
html
    head
        // meta
        meta(charset="utf-8")
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
        meta(content="width=device-width, initial-scale=1.0, maximum-scale=1", name="viewport")
        meta(name="description" content="Brands & Business is a conference for professionals and companies that covers present challenges, opportunities and technologies in branding. In its second year, the conference aims to become one of the biggest and most significant events in the region. This year we are planning to bring together around 60 specialists and 600 participants in Yerevan and Tbilisi.")
        meta(name="robots" content="all")
        meta(name="keywords" content="branding conference, maeutica, brands&business, branding, brand&fashion, fashion branding, Brands & finance, financial branding, Brands&hr, HR branding, Brands&trends, trending brands design, digital branding, place branding, branding conference in Armenia")
        meta(name="google-site-verification" content="V8BZXWMr--C1H3esTuO3rjholRPiEcW8b0i5voCW4Hw")

        meta(property="og:url",content="http://brandsandbusiness.am/")
        meta(property="fb:app_id",content="821232241313517")
        meta(property="og:type",content="website")
        meta(property="og:title",content="Brands & Business conference 2016")
        meta(property="og:description",content="Brands & Business is a conference for professionals and companies that covers present challenges, opportunities and technologies in branding. In its second year, the conference aims to become one of the biggest and most significant events in the region. This year we are planning to bring together around 60 specialists and 600 participants in Yerevan and Tbilisi.")
        meta(property="og:image",content="http://brandsandbusiness.am/img/conf.png")

        // title
        title= title

        // stylesheets
        link(rel='icon', href='/img/favicon.png', type='image/png')
        link(rel='mask-icon', href='/img/icon.svg', color='blue')
        link(rel='image/svg+xml', href='/img/favicon.svg', type='image/png')
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")

        // custom css
        link(rel='stylesheet', href='/css/reset.css')
        link(rel='stylesheet', href='/css/header.css')
        link(rel='stylesheet', href='/css/slider.css')
        link(rel='stylesheet', href='/css/main.css')
        link(rel='stylesheet', href='/css/response.css')
        link(rel='stylesheet', href='/css/cd-rotate.css')
        link(rel='stylesheet', href='/css/agenda.css')

        // javascript
        script(type="text/javascript", src='/libs/jquery/dist/jquery.min.js')
        script(type="text/javascript", src='/libs/bootstrap/dist/js/bootstrap.min.js')
        script(type="text/javascript", src='/js/modernizr.js')

        // custom js
        script(type="text/javascript", src='/js/main.js')
        script(type="text/javascript", src='/js/pageSearch.js')
        script(type="text/javascript", src='/js/cd-rotate.js')
        script(type="text/javascript", src='/js/agenda.js')

    body

        #loader-wrapper
            #loader
            .loader-section.section-left
            .loader-section.section-right

        block content

        block specific_scripts
