extends ../../layouts/admin_layout

block specific_stylesheets
    link(rel='stylesheet', href='/css/admin.css')

block content
    include ../../static/_admin_header
    #wrapper
        include ../../static/_sidebar
        #page-content-wrapper
            .row
                .col-lg-3.col-md-6
                    .panel.panel-yellow
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-paper-plane-o.fa-5x
                                .col-xs-9.text-right
                                    .huge #{allRequests}
                                    div Request total
                        a(href='/control/admin/partners')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-lg-3.col-md-6
                    .panel.panel-green
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-calendar-check-o.fa-5x
                                .col-xs-9.text-right
                                    .huge #{totalSuccess}
                                    div Success requests
                        a(href='/control/admin/agenda')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-lg-3.col-md-6
                    .panel.panel-red
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-times-circle-o.fa-5x
                                .col-xs-9.text-right
                                    .huge #{allFails}
                                    div Requests fail
                        a(href='/control/admin/subscribers')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix
                .col-lg-3.col-md-6
                    .panel.panel-primary
                        .panel-heading
                            .row
                                .col-xs-3
                                    i.fa.fa-cogs.fa-5x
                                .col-xs-9.text-right
                                    .huge #{totalAmount}
                                    div Total amount
                        a(href='/control/admin/speaker')
                            .panel-footer
                                span.pull-left View Details
                                span.pull-right
                                    i.fa.fa-arrow-circle-right
                                .clearfix



