extends ../../layouts/admin_layout

block specific_stylesheets
    link(rel='stylesheet', href='/css/admin.css')

block content
    include ../../static/_admin_header
    #wrapper
        include ../../static/_sidebar
        #page-content-wrapper
            .alert-control(style='display: none;')
                .alert
                    a.close(href="#",data-dismiss="alert",aria-label="close") &times;
                    strong
            .row
                .col-xs-12
                    h3.box-title Graphics coming soon



